@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programming By Wishful Thinking Live Demo!</h1>
    <p class="lead">This session is intended to show a technique for doing development where you start with the front-end
        and "program by wishful thinking" all the way through the back-end.</p>
</div>

<div>
    Let's start off imagining that we want to show something awesome here. Like the estimated number of termites in the world at this
    exact second.
</div>